version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:16.3.0
    working_directory: ~/Mealplanr-api/api
    steps:
      - checkout:
          path: ~/Mealplanr-api
      - run:
          name: Install dependencies
          command: |
            yarn install
      - run:
          name: Run tests
          command: |
            yarn test:ci
      # - store_test_results:
      #     path: test-results
      # - store_artifacts:
      #     path: test-results
